body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.viewer {
  width: 400px;
  height: 400px;
  margin: 100px auto;
}

.button-wrapper {
  width: 100%;
}

.sidenav {
  margin-top: 200px;
  width: 30%;
  white-space: nowrap;
  float: left;
}

p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-view {
  width: 70%;
  float: right;
}

.bold {
  font-weight: bold;
}
